name: Test, Build, and Deploy to Prod

# Trigger the workflow when changes are pushed to the main branch
on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    name: Checks
    uses: ./.github/workflows/checks.yaml

  build:
    needs: checks
    runs-on: ubuntu-latest
    steps:
      # Checkout code from the repository
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install the Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        cache-workspaces: |
          ./auth-service
          ./app-service

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to ECR
      uses: docker/login-action@v3
      with:
        registry: 517798649878.dkr.ecr.us-east-1.amazonaws.com
        username: ${{ vars.AWS_ACCESS_KEY_ID }}
        password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Build and push Docker images
      uses: docker/bake-action@v6
      with:
        push: true
        files: |
          compose.yml
          compose.override.yml
        set: |
          *.cache-from=type=gha
          *.cache-to=type=gha,mode=max

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ vars.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Deploy Auth Service
      run: |
        aws ecs update-service --cluster lgr-bootcamp-cluster --service auth-service --force-new-deployment

    - name: Deploy App Service
      run: |
        aws ecs update-service --cluster lgr-bootcamp-cluster --service app-service --force-new-deployment
